<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>2005初三同学社会精英群</string>
		<key>summary</key>
		<string>苗雪梅：大家要积极参与这个事情啊，加油</string>
		<key>time</key>
		<string>2016年01月12日10:06:46</string>
		<key>image</key>
		<string>wechat_list_1.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>众和一家人</string>
		<key>summary</key>
		<string>红梅：超市生鲜食品新规或出</string>
		<key>time</key>
		<string>2016年01月12日09:06:54</string>
		<key>image</key>
		<string>wechat_list_2.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浦发银行深圳分行</string>
		<key>summary</key>
		<string>【0111-0120理财集锦】1月12日，</string>
		<key>time</key>
		<string>2016年01月11日10:07:08</string>
		<key>image</key>
		<string>wechat_list_3.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>yogapay</string>
		<key>summary</key>
		<string>知识管理：无语音修改了：1月18日到</string>
		<key>time</key>
		<string>2016年01月10日10:07:17</string>
		<key>image</key>
		<string>wechat_list_4.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>把人给我拉进来</string>
		<key>summary</key>
		<string>仅有一棵树.只存在一个人:江西人民医院昨天</string>
		<key>time</key>
		<string>2016年01月09日10:07:25</string>
		<key>image</key>
		<string>wechat_list_5.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ever</string>
		<key>summary</key>
		<string>[动画表情]</string>
		<key>time</key>
		<string>2016年01月08日10:07:38</string>
		<key>image</key>
		<string>wechat_list_6.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>年会导演组</string>
		<key>summary</key>
		<string>Trista ^_^：[太好了]</string>
		<key>time</key>
		<string>2016年01月07日13:31:24</string>
		<key>image</key>
		<string>wechat_list_7.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10007</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我验验</string>
		<key>summary</key>
		<string>冒死偷拍苹果打蜡内幕视频</string>
		<key>time</key>
		<string>2016年01月06日10:07:53</string>
		<key>image</key>
		<string>wechat_list_8.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10008</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯企业邮</string>
		<key>summary</key>
		<string>新邮件通知</string>
		<key>time</key>
		<string>2016年01月05日10:08:03</string>
		<key>image</key>
		<string>wechat_list_1.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>支付界团队群</string>
		<key>summary</key>
		<string>丽山秀水：[动画表情]</string>
		<key>time</key>
		<string>2016年01月04日10:08:12</string>
		<key>image</key>
		<string>wechat_list_2.png</string>
		<key>image_url</key>
		<string></string>
		<key>id</key>
		<string>10010</string>
	</dict>
</array>
</plist>
